<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="co.micol.prj.book.mapper.BookMapper">
	<select id="bookSelectList" resultType="co.micol.prj.book.vo.BookVO">
		SELECT * FROM BOOK_INFO ORDER BY BOOK_CODE DESC
	</select>
	
	<select id="bookSelect" resultType="co.micol.prj.book.vo.BookVO">
		SELECT * FROM BOOK_INFO 
		WHERE BOOK_CODE = #{bookCode}
	</select>
	
	<insert id="bookInsert" parameterType="co.micol.prj.book.vo.BookVO">
		INSERT INTO BOOK_INFO
		VALUES(#{bookCode},#{bookTitle},#{bookAuthor},#{bookPress},#{bookPrice})
	</insert>
	
	<insert id="bookInsertImage" parameterType="co.micol.prj.book.vo.BookFileVO">
		<selectKey keyProperty="fileNo" resultType="int" order="BEFORE">
			SELECT CASE WHEN MAX(FILE_NO) IS NULL THEN 1
			       ELSE MAX(FILE_NO) + 1 END AS ID FROM BOOK_FILE
		</selectKey>
		INSERT INTO BOOK_FILE
		VALUES(#{fileNo},#{bookCode},#{bookImage},#{bookPath})
	</insert>
	
	<delete id="bookDelete" parameterType="co.micol.prj.book.vo.BookVO">
		DELETE FROM BOOK_INFO WHERE BOOK_CODE = #{bookCode}
	</delete>
	
	<update id="bookUpdate" parameterType="co.micol.prj.book.vo.BookVO">
		UPDATE BOOK_INFO
		SET BOOK_TITLE = #{bookTitle},
			BOOK_AUTHOR = #{bookAuthor},
			BOOK_PRESS = #{bookPress},
			BOOK_PRICE = #{bookPrice}
		WHERE BOOK_CODE = #{bookCode}
	</update>
	
	<select id="bookCode" resultType="int">
		SELECT LAST_NUMBER FROM USER_SEQUENCES 
		WHERE SEQUENCE_NAME = 'BOARD_SEQ'
	</select>
</mapper>