<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.micol.prj.board.mapper.BoardMapper">
	
	<select id="boardList" resultType="co.micol.prj.board.vo.BoardVO">
		SELECT * FROM TBL_BOARD ORDER BY BOARD_NO
	</select>
	
	<insert id="boardInsert" parameterType="co.micol.prj.board.vo.BoardVO">
		INSERT INTO TBL_BOARD
		VALUES(BOARD_SEQ.NEXTVAL, #{title}, #{content}, #{writer}, SYSDATE, 0, NULL)
	</insert>
	
</mapper>